/*
TODO
- row (Som ska fylla i element i en horisontell rad)
- col1, col2, col3, col4, col5, col6 (Som ska fylla i element vertikaltt, siffrorna anger bredden på columnen)
- container (Som ska hantera innehåll, med padding/margins/etc)
- theme1 (Som ska vara huvudtemat på sidan, med färger och etc)
- theme2 (Som ska vara andra färgen, brukar vara liknande 1a temat, men mörkare)
- theme3 (Som ska vara accent-färgen, som gärna sticker ut)

*/

* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.container {
    display: block;
    padding: 10px;

}

img {
    width: 100%;
    height: auto;

}

h1 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px 0px;
    text-align: center;
}

a {
    text-decoration: none;
}

.container-fluid {
    display: block;
    width: 100%;
}

.theme1 {

}

.theme2 {

}

.theme3 {

}

.row {
    display: flex;
    width: 100%;
    min-height: 100px;
}

.col {
    flex-grow: 1;
    min-height: 100px;
}

.col1 {
    width: calc(100% / 6);
    min-height: 100px;
}

.col2 {
    width: calc(200% / 6);
    min-height: 100px;
}

.col3 {
    width: calc(100% / 2);
    min-height: 100px;
}

.col4 {
    width: calc(200% / 3);
    min-height: 100px;
}

.col5 {
    width: calc(500% / 6);
    min-height: 100px;
}

.col6 {
    width: 100%;
    min-height: 100px;
}
