
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    
}

.theme1 {

}

.theme2 {

}

.theme3 {

}

.row {

}

.col {
    flex-grow: 1;
}

.col1 {

}

.col2 {

}

.col3 {

}

.col4 {

}

.col5 {

}

