



.theme1 {
    background-color: orange;
    color: darkred;

}

.theme2 {
    background-color: darkred;
    color: salmon;
}

.theme3 {
    background-color: purple;
    color: white;

}

a {
    color: white;
}