body {
    margin: 0 0;
    background-color:darkblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px;
}
p{
    padding: 5px;
}


